<div class="col-md-12">
  <p>Name: <%= session[:username] %></p>

  <%= react_component('Messages') %>

  <%= form_for :message, url: messages_path, remote: true, id: 'messages-form' do |f| %>
    <%= f.text_field :content, class: "form-control", placeholder: 'Enter your message and press RETURN'%>
    <!-- <%= f.submit 'Send', class: "btn btn-primary"%> -->
  <% end %>
<div>
